* {
  font-family: 'Montserrat';
}

.app {
  background-color: #303436;
}

.stage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 32px 0;
  margin: 0 -5%;
  overflow: hidden;
}

h1, h2 {
  font-family: 'Lemonada', cursive;
}

h1 {
  margin-left: 25vw;
}

h2 {
  text-decoration: underline;
  margin-left: 1rem
}

h2, h4 {
  color: #fff;
}

.img-header {
  margin-right: 25vw;
}


.btn {
  margin: .5rem
}

.btn-p {
  margin: .5rem 2rem;
}

.filter, .blog-posts {
  margin: 2rem;
}

.card-text, .card-title {
  margin: 1rem
}

.scrollToTop {
	background: gray;
	color: black;
	position: fixed;
	width: 100%;
	align-items: center;
	height: 20px;
	justify-content: center;
	z-index: 999;
	cursor: pointer;
	animation: fadeIn 0.3s;
	transition: opacity 0.4s;
	opacity: 1;
}

.scrollToTop:hover {
	opacity: 1;
}